<ion-header>
  <ion-toolbar>
    <ion-title>Bienvenido!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="home-container">
    <h1>Este boton despliega una lista de pokemon</h1>
    <img src="https://www.mundodeportivo.com/alfabeta/hero/2024/08/estos-son-los-mejores-momentos-de-pikachu-en-el-anime.jpg?width=1200&aspect_ratio=16:9" alt="Pikachu" class="pokemon-image"/>
    <ion-button expand="block" color="primary" (click)="goToPokemonList()">
      Ver Lista de Pokémon
    </ion-button>
  </div>
</ion-content>